$fuente_uno: "Arial";
$fuente_titulo: Verdana, Geneva, Tahoma, sans-serif;
$fondo_header: rgb(255, 94, 0);
$fondo_logo:rgb(255, 94, 0);
$fondo_nav:rgb(220, 60, 7);
$fondo_body:rgb(255, 179, 0);
$li_color: white;